.show {
  display: block;
}
.hidden {
  display: none;
}

.repositorios {
  padding: 1rem;
  border: 1px solid;
  border-radius: 1rem;
  width: 50rem;
  height: 15rem;
  margin: 1rem;
  
}
.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addTags{
  left: 0;
}
.tags{
  display: flex;
  margin: 0.5rem;
  font-size: 0.5rem;
  
}
.removebtn{
  border: 0;
  background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0.2) ;
  width: 3rem;
  border-radius: 1rem;
  text-align: start;
}