* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: 14px;
    background: rgb(240, 240, 245);
  }
  
  div {
    width: 100%;
    margin: 20px;
  }
  
  div li {
    display: flex;
    align-items: center;
  }
  
  div li + li {
    margin-top: 15px;
  }
  .header {
    width: 800px; 
    margin-left: auto;
    margin-right: auto; 
  }
  .title {
    text-align: center;
  }
  h3 {
    color: rgb(168, 168, 179);
  }
  
  button {
    background: #7159c1;
    color: #fff;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
  }
  
  div li button {
    margin: 0 15px;
    background: #ca4949;
  }

  .container{
    width: 100%;
    padding: 24px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.2s ease 0s;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 4px;
  }

  .info {
    flex: 1 1 0%;
    margin: 0px 16px;
  }

  strong {
    font-size: 20px;
    color: rgb(61, 61, 77);
  }

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
 p {
  color: rgb(168, 168, 179);
  margin-top: 4px;
  font-size: 18px;
 }